@tailwind base;
@tailwind components;
@tailwind utilities;

.basicFormatting {
    @apply 
    bg-amber-100 
    min-h-screen
    /* bg-blue-500 */
    /* container mx-auto  */
    p-4
    /* min-h-screen 
    flex 
    items-center 
    justify-center */
}

.btn {
    @apply 
    px-4 py-2 
    bg-blue-500 
    text-white 
    font-semibold 
    rounded-lg 
    shadow-md 
    hover:bg-blue-700 
    focus:outline-none 
    focus:ring-2 
    focus:ring-blue-400 
    focus:ring-opacity-75;
}